*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
}

body{
   background-color: rebeccapurple;
   overflow: hidden;
}

/* HEADER */
header{
   background-color: white;
   height: 60px;
   position: fixed;
   width: 100vw;
   display: flex;
   justify-content: space-around;
}

.boolean{
   width: 20%;
   display: flex;
   line-height: 60px;
}

.logo-boolean{
   width: 20%;
   max-height: 60px;
   height: 60px;
   margin-right: 10px;
}

.logo-boolean img{
   width: 100%;
   height: 100%;
   cursor: pointer;
}

.text-boolean{
   width: 80%;
   cursor: pointer;
}

.difficolta{
   height: 100%;
   width: 20%;
   display: flex;
   line-height: 60px;
}

.difficolta select{
   margin-left: 10px;
}

.difficolta button{
   height: 20px;
   width: 50px;
   margin-top: 21px;
}

/* MAIN */
.main-wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
   height: calc(100vh - 50px);
   position: relative;
   top: 60px;
}

.main-wrapper h1{
   position: absolute;
   transform: translate(0%, -50%);
   color: white;
}

.container{
   width: 500px;
   height: 500px;
   color: white;
}

.quadrato{
   float: left;
   width: calc(100% / 10);
   height: calc(100% / 10);
   border: 2px solid white;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.easy-size{
   width: calc(100% / 10);
   height: calc(100% / 10);
}

.hard-size{
   width: calc(100% / 9);
   height: calc(100% / 9);
}

.crazy.size{
   width: calc(100% / 7);
   height: calc(100% / 7);
}

/* footer */

footer{
   height: 50px;
   background-color: white;
   text-align: center;
   margin: 0 auto;
   line-height: 50px;
}

.footer-text{
   width: 45%;
}

/* classi che si aggiungono: */
.clicked{
   background-color: rgb(163, 136, 189);
}

.hidden{
   display: none;
}


